{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/theme/bootstrap/4.4.1/css/bootstrap.min.css' %}">
    <script src="{% static '/theme/jquery/3.5.1/jquery.min.js' %}"></script>
    <script src="{% static '/theme/jquery/3.5.1/popper.min.js' %}"></script>
    <script src="{% static '/theme/bootstrap/4.4.1/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/book_tickets/css/main.css' %}"/>   
</head>
<body>
{% block 'contents' %}
{% endblock 'contents' %}

{% block 'js' %}
<script src="{% static '/book_tickets/js/main.js' %}"></script>
{% endblock %}
</body>

</html>